In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [124]:
files = {
    "COO": "COO.csv",
    "ON": "ON.csv",
    "PG": "PG.csv",
    "TFX": "TFX.csv"
}

# Read all datasets into a dictionary of DataFrames
dataframes = {name: pd.read_csv(filepath, parse_dates=["Date"]).set_index("Date") for name, filepath in files.items()}
dataframes

{'COO':               Open    High     Low   Close   Volume  Dividends  Stock Splits
 Date
 2017-01-03  43.858  43.988  43.451  43.726  2448800        0.0           0.0
 2017-01-04  43.689  44.580  43.561  44.472  1511600        0.0           0.0
 2017-01-05  44.435  44.435  43.803  44.031  2024800        0.0           0.0
 2017-01-06  44.026  44.482  43.763  44.240  1376000        0.0           0.0
 2017-01-09  44.340  44.620  44.076  44.458  2110000        0.0           0.0
 ...            ...     ...     ...     ...      ...        ...           ...
 2022-12-23  82.381  83.259  81.994  83.169   936800        0.0           0.0
 2022-12-27  83.396  84.036  82.559  83.346   896800        0.0           0.0
 2022-12-28  83.356  84.009  82.056  82.084   612400        0.0           0.0
 2022-12-29  82.814  84.469  82.461  83.581   560400        0.0           0.0
 2022-12-30  82.986  83.569  81.771  82.654  1027600        0.0           0.0

 [1510 rows x 7 columns],
 'ON':              Open   High    Low  Close    Volume  Dividends  Stock Splits
 Date
 2017-01-03  12.75  12.93  12.37  12.69  10438500        0.0           0.0
 2017-01-04  13.07  13.33  12.93  13.00   9216800        0.0           0.0
 2017-01-05  13.03  13.13  12.77  12.85   7193400        0.0           0.0
 2017-01-06  12.84  13.07  12.82  13.01   5747200        0.0           0.0
 2017-01-09  13.02  13.45  13.01  13.34   7460800        0.0           0.0
 ...           ...    ...    ...    ...       ...        ...           ...
 2022-12-23  61.44  62.54  60.69  62.39   3351500        0.0           0.0
 2022-12-27  61.94  62.17  60.98  61.36   5072500        0.0           0.0
 2022-12-28  60.71  61.80  59.77  60.28   3576400        0.0           0.0
 2022-12-29  61.85  63.05  61.09  62.71   5253300        0.0           0.0
 2022-12-30  61.53  62.44  60.87  62.37   2650100        0.0           0.0

 [1510 rows x 7 columns],
 'PG':                Open     High      Low    Close    Volume  Dividends  \
 Date
 2017-01-03   67.545   67.955   67.239   67.802   8792700        0.0
 2017-01-04   68.004   68.125   67.835   68.044   8096700        0.0
 2017-01-05   67.972   68.793   67.947   68.495   6852400        0.0
 2017-01-06   68.398   68.648   68.141   68.471   4799900        0.0
 2017-01-09   67.690   68.173   67.440   67.963  11000600        0.0
 ...             ...      ...      ...      ...       ...        ...
 2022-12-23  144.931  145.511  144.322  145.226   3401800        0.0
 2022-12-27  145.302  146.844  145.264  146.492   4215100        0.0
 2022-12-28  146.806  147.158  144.541  144.598   4197500        0.0
 2022-12-29  145.407  145.816  144.769  145.197   3809100        0.0
 2022-12-30  145.045  145.283  143.152  144.217   4532000        0.0

             Stock Splits
 Date
 2017-01-03           0.0
 2017-01-04           0.0
 2017-01-05           0.0
 2017-01-06           0.0
 2017-01-09           0.0
 ...                  ...
 2022-12-23           0.0
 2022-12-27           0.0
 2022-12-28           0.0
 2022-12-29           0.0
 2022-12-30           0.0

 [1510 rows x 7 columns],
 'TFX':                Open     High      Low    Close  Volume  Dividends  \
 Date
 2017-01-03  154.798  154.798  151.421  152.438  453600        0.0
 2017-01-04  153.225  156.478  153.186  156.267  326600        0.0
 2017-01-05  156.267  157.188  155.038  155.508  271200        0.0
 2017-01-06  159.097  159.913  157.005  158.637  564300        0.0
 2017-01-09  158.243  159.424  157.169  158.301  199800        0.0
 ...             ...      ...      ...      ...     ...        ...
 2022-12-23  244.216  246.606  242.043  245.747  276000        0.0
 2022-12-27  246.942  247.258  244.226  245.806  198500        0.0
 2022-12-28  247.308  249.974  243.959  244.503  348000        0.0
 2022-12-29  246.359  251.584  244.384  248.256  210900        0.0
 2022-12-30  246.468  247.318  244.157  246.557  240800        0.0

             Stock Splits
 Date
 2017-01-03           0.0
 2017-01-04           0.0
 2017-01-05           0.0
 2017-01-06           0.0
 2017-01-09           0.0
 ...                  ...
 2022-12-23           0.0
 2022-12-27           0.0
 2022-12-28           0.0
 2022-12-29           0.0
 2022-12-30           0.0

 [1510 rows x 7 columns]}

In [18]:
#PT 1, task 2

for company, df in dataframes.items():
    highest_price = df["Close"].max()
    lowest_price = df["Close"].min()
    print(f"{company}: The highest Price = {highest_price}, The lowest Price = {lowest_price}\n")

COO: The highest Price = 113.942, The lowest Price = 43.726
ON: The highest Price = 76.71, The lowest Price = 8.45
PG: The highest Price = 153.402, The lowest Price = 59.91
TFX: The highest Price = 434.906, The lowest Price = 152.438

In [98]:
#PT 1, task 3

for company, df in dataframes.items():
    df["log_return"] = np.log(df["Close"] / df["Close"].shift(1))
    print(f"{company}: Log Returns Statistics \n {df["log_return"].describe()}\n")

COO: Log Returns Statistics
 count    1509.000000
mean        0.000422
std         0.017842
min        -0.145442
25%        -0.007861
50%         0.001273
75%         0.008996
max         0.098971
Name: log_return, dtype: float64

ON: Log Returns Statistics
 count    1509.000000
mean        0.001055
std         0.032675
min        -0.312519
25%        -0.014875
50%         0.001696
75%         0.017858
max         0.218161
Name: log_return, dtype: float64

PG: Log Returns Statistics
 count    1509.000000
mean        0.000500
std         0.012861
min        -0.091427
25%        -0.004848
50%         0.000761
75%         0.006647
max         0.113408
Name: log_return, dtype: float64

TFX: Log Returns Statistics
 count    1509.000000
mean        0.000319
std         0.019604
min        -0.138926
25%        -0.008124
50%         0.000658
75%         0.010917
max         0.127229
Name: log_return, dtype: float64

In [113]:
#PT 1, task 4

for company, df in dataframes.items():
    print(F"{company}:")
    print(f"highest gain: {np.log(df["Close"] / df["Close"].shift(1)).idxmax()}")
    print(f"lowest gain: {np.log(df["Close"] / df["Close"].shift(1)).idxmin()}\n")

COO:
highest gain: 2022-11-10 00:00:00
lowest gain: 2020-03-12 00:00:00

ON:
highest gain: 2020-03-19 00:00:00
lowest gain: 2020-03-18 00:00:00

PG:
highest gain: 2020-03-13 00:00:00
lowest gain: 2020-03-12 00:00:00

TFX:
highest gain: 2020-03-24 00:00:00
lowest gain: 2020-03-12 00:00:00

In [90]:
#pt 1, task 5

for company, df in dataframes.items():
    weekly_volume = df["Volume"].resample("W").mean()
    average_weekly_volume = weekly_volume.mean()
    print(f"({company}): average volume weakly = {average_weekly_volume}\n")

(COO): average volume weakly = 1382302.108626198

(ON): average volume weakly = 6788780.559105432

(PG): average volume weakly = 7900000.143769968

(TFX): average volume weakly = 297543.5303514377

In [189]:
#tp 1, task 6

total_returns = {}
for company, df in dataframes.items():
    total_return = (df["Close"].iloc[-1] / df["Close"].iloc[0]) - 1
    total_returns[company] = total_return

maxreturn = 0
for company, df in dataframes.items():
    if maxreturn < ((df["Close"].iloc[-1] / df["Close"].iloc[0]) - 1):
        maxreturn = ((df["Close"].iloc[-1] / df["Close"].iloc[0]) - 1)
    

highest_return_company = max(total_returns, key=total_returns.get)
print(f"Company with Highest Total Return = {highest_return_company} ({maxreturn})")

Company with Highest Total Return = ON (3.914893617021277)

In [192]:
# pt 2, task 7

for company, df in dataframes.items():
    volume_classes = pd.qcut(df["Volume"], q=4, labels=["Low", "Medium", "High", "Very High"])
    df["volume_class"] = volume_classes
    print(f"\nTask 7 ({company}): Volume Quartile Categories Created")

Task 7 (COO): Volume Quartile Categories Created

Task 7 (ON): Volume Quartile Categories Created

Task 7 (PG): Volume Quartile Categories Created

Task 7 (TFX): Volume Quartile Categories Created